@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto:wght@100&family=Space+Mono:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}

.content-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.content-img img{
    height: 450px;
    width: 540px;
    padding-right: 40px;
}

.content-info h1{
    font-family: 'Space Mono', monospace; 
    font-size: 64px;
    padding-left: 40px;
}

.content-info p {
    font-size: 24px;
    font-family: 'Space Mono', monospace; 
    margin-top: 20px;
    padding-left: 40px;
} 

#btn {
    margin-top: 50px;
    width: 216px;
    height: 68px;
    background: #333333;
    font-family: 'Space Mono', monospace; 
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 40px;
}

footer {
    margin-top: 200px;
    text-align: center;
    color: #BDBDBD;
    margin-bottom:20px ;
    }

@media screen and (max-width: 1025px){
    .content-container {
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
    .content-info {
        margin-top: 65px;
    }
}

@media screen and (max-width: 668px) {
    .content-img img{
      
        margin-left: 29px;
    }

    .content-info h1{
        font-size: 48px;
    }

    .content-info p {
        font-size: 18px;
    }
}